html {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

body {
  overflow: hidden;
}

.logo {
  width: 140px;
  height: 62px;
  margin: 2px 0px 0px 182px;
}

nav {
  width: 100%;
  margin: -62px 0 0 0;
  font-size: 20px;
}

nav ul {
  float: right;
  margin-right: 187px;
}

nav ul li {
  display: inline-block;
  transition: 0.2s all;
}

nav ul li:hover {
  border-bottom: 1px solid rgb(255, 0, 79);
  border-width: 3px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav ul li a {
  text-decoration: none;
}

.heading,
.heading_sec_line,
.title,
nav ul li a {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px 0 0 191px;
  font-size: 30px;
}

.title {
  font-size: 30px;
  display: flex;
  margin: 363px 0 0 191px;
}

.color_name {
  color: rgb(255, 0, 79);
}

.heading_sec_line {
  margin: -30px 0 0 191px;
}
