html {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/* body {
  overflow: hidden;
} */

.logo {
  width: 140px;
  height: 62px;
  margin: 0.3px 0px 0px 184px;
}

nav {
  width: 100%;
  margin: -62px 0 0 0;
  font-size: 18px;
}

nav ul {
  float: right;
  margin-right: 187px;
}

nav ul li {
  display: inline-block;
  transition: 0.3s all;
}

nav ul li:hover {
  border-bottom: 1px solid rgb(255, 0, 79);
  padding: 0 0 3px;
  border-width: 3px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: rgb(255 255 255);
  font-family: Arial, Helvetica, sans-serif;
}
